{% load static %}
<html>
<head>
<title>register</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="{% url 'turf_register' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<label for="" aria-hidden="true">Register</label>
					<input type="text" placeholder="name" name="name" required="">
					<input type="email"  placeholder="email" name ="email" required="">
					<input type="text"  placeholder="address"name="address" required="">
					<input type="text"  placeholder="location" name="location"required="">
					<input type="text"  placeholder="place" name="place"required="">
					<input type="text"  placeholder="rent"name="rent"required="">
					<input type="text"  placeholder="phone"name="phone"required="">
					<input type="file"  placeholder="image"name="image" required="">
					<input type="time"  placeholder="opening time" name="opentime"required="">
					<input type="time"  placeholder="closing time" name="closingtime"required="">
					<input type="text" placeholder="Username" name="username" required="">
					<input type="password"  placeholder="password" name="password" required="">
					<button type="submit">Register</button>
				</form>
			</div>

			<div class="login">
				<form method="post"> 
					{% csrf_token %}
					<label for="chk" aria-hidden="true">Login</label>
					<div class="shai">
					<input type="text"  placeholder="email" required="" name="username">
					<input type="password" name="password" placeholder="password">
					<button type="submit"> Login</button></div>
				</form>
			</div>
	</div>
</body>
</html>            