<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1px">
        <tr>
            <th>
                turf owner
            </th>
            <th>
                users
            </th>
            <th>
                user booked turf
            </th>
            <th>
                turf location
            </th>
            <th>
                hours of booked
            </th>
        </tr>
        <tr>
            <td>owner name</td>
            <td>users name</td>
            <td>user booked location</td>
            <td>turf location</td>
            <td>hours of booked</td>
        </tr>
    </table>
</body>
</html>