{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'adminpage.css' %}">
<body>
    <div class ="main">

        <h1 style="text-align: center;">admin class</h1>
        <div class="mainflex">
        <div class="sidebar">
            <a href="/Viewbooking/"><i class="fa-solid fa-user"></i>Viewbooking</a><br>
            <a href="/complaints/"> <i class="fa-solid fa-file-circle-check"></i>complaint</a><br>
            <a href="/turfowner/"><i class="fa-solid fa-user-tie"></i>turfowner</a><br>
            <a href="/viewequipment/"><i class="fa-solid fa-cart-shopping"></i>viewequipment</a><br>
            <a href="/addequipment/"><i class="fa-solid fa-hand-holding-dollar"></i>addequipment</a><br>
            <a href="/"

    </div>
<div>
    <div class="user"><h3>user</h3>  </div>
    <div class="complaint"><h3>complaint</h3></div>
    <div class="turfowner"><h3>turfowner</h3></div>
    <div class="product"><h3>product</h3></div>

</div>
</div>

    </div>
</body>
</html>