<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table border="1px">

<tr>
    <td>username</td>
    <td>time visited</td>
    <td>available of slots</td>
    <td>time</td>
    <td>to time</td>
</tr> 
{% for i in obg %}
<tr>
    <td>{{i.USER.username}}</td>
    <td>{{i.DATE}}</td>
    <td>{{i.status}}</td>
    <td>{{i.SLOT.fromtime}}</td>
    <td>{{i.SLOT.totime}}</td>
</tr>
{% endfor %}
</table>

</body>
</html>