<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <table border="1px">
        <tr>
            <th>
                name
            </th>
            
            <th>
            place
            </th>
            <th>
                email
            </th>
            <th>
                phone
            </th>
            <th>
                status
            </th>
            <th>
                accept/reject
            </th>
        </tr>
        {% for i in obg %}
   
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.place}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.LOGIN.Type}}</td>
            
            <td>
                <a href="/accept_turf/{{i.LOGIN.id}}">accept</a>/
                <a href="/reject_turf/{{i.LOGIN.id}}">reject</a>
                
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>